@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '/node_modules/bootstrap/dist/css/bootstrap.min.css';
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}
.navbar{
  background: linear-gradient(45deg, #e0d3d1, #423e3b, #bfa16c);
  color: white !important;
  position: fixed;
    width: 100%;
 
}
.nav-link{
  color: black;
}
body {
  font-family: 'Montserrat', sans-serif;
}

button,
input {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1140px;
  width: 95%;
  margin: 0 auto;
}
.blogItem-wrap {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}
.container-box{
  margin-bottom: 6rem;
  padding-top: 4rem ;
}
.fixed-bottom {
  background: linear-gradient(45deg, #e0d3d1, #423e3b, #bfa16c);
position: fixed;
right: 0;
bottom: 0;
left: 0;
z-index: 1030;
}
/* Custom CSS to align tabs at the bottom 
.react-bootstrap-tabs-bottom .nav-tabs {
  border-bottom: none;
}*/
.nav-tabs .nav-link.active{
  background-color: inherit;
  border-top: none;
    border-right: none;
    border-left: none;
  border-bottom: 3px solid white;
  color: white;
}
.nav-tabs .nav-link .hover{
color:inherit;
}
.react-bootstrap-tabs-bottom .nav-tabs .nav-item {
  margin-bottom: 0;
}
.bottom-nav{
  height: 50px;
  width: 100%;
  background: linear-gradient(45deg, #e0d3d1, #423e3b, #bfa16c);;
  color: white;
  position: fixed;
  bottom: 0;
  padding: 1rem;
}
.active{
  color: white !important;
  border-color: white !important;
}
.react-bootstrap-tabs-bottom .tab-content {
  margin-top: 10px; /* Add spacing between content and tabs */
}
@media (max-width: 360px) {
  .fixed-bottom {
    width: max-content;
  
  }}
  @media (max-width: 400px) {
    .bottom-nav{
  
      padding: 0.2rem !important;
    }
  }
  @media (min-width: 971px) {
    .bottom-nav {
      display: none !important;
    }
  }
